@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.top-40 {
  top: 40% !important;
}

.carousel-item {
  height: 700px;
}
.carousel-img {
  position: relative;
  height: 100%;
}

.carousel-img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.carousel-img::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  top: 0;
  opacity: 0.5;
}
.explore-img {
  object-fit: cover;
}
.nav-item{
    cursor: pointer;
}
@media screen and (max-width: 767px) {
  .carousel-item {
    height: 400px;
  }
  .top-40 {
    top: 5% !important;
  }
  .display-1 {
    font-size: 25px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .display-1 {
    font-size: 45px !important;
  }
}
